@font-face {
  font-family: 'Fira Sans';
  src: url(fonts/FiraSans-BoldItalic.ttf) format('truetype');
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: 'Fira Sans';
  src: url(fonts/FiraSans-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Fira Sans';
  src: url(fonts/FiraSans-Italic.ttf) format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url(fonts/FiraSans-LightItalic.ttf) format('truetype');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url(fonts/FiraSans-Light.ttf) format('truetype');
  font-weight: lighter;
}

@font-face {
  font-family: 'Fira Sans';
  src: url(fonts/FiraSans-Regular.ttf) format('truetype');
}
